# Andmebaas
POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=55432
TZ=Europe/Tallinn

# Muud projekti-spetsiifilised muutujad
API_URL=https://portal.eco-platform.org/resource
TOKEN="asendada sisse"

# Superset metaandmebaas
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD="muuda_mind"
SUPERSET_DB_NAME=superset_meta

# Superset rakendus
# SECRET_KEY: genereeri käsuga: python -c "import secrets; print(secrets.token_hex(32))"
SUPERSET_SECRET_KEY=bb7cff972c8b5113b06d9c7c70c254bf60e30c0c821c6e44f2882282f99089a3
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_PORT_HOST=8088
