# Andmebaas
POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=55432
TZ=Europe/Tallinn

PIPELINE_CRON="0 0 * * *"
RUN_ON_STARTUP=true

# Näidikulaud (kui kasutatakse)
DASHBOARD_PORT_HOST=8501
DASHBOARD_AUTOREFRESH_SECONDS=30

# Muud projekti-spetsiifilised muutujad
API_URL=https://portal.eco-platform.org/resource
TOKEN="asendada sisse"

